{% extends "::base.html.twig" %}

{% block title %}TournamentBundle:Participation:myParticipations{% endblock %}

{% block body %}
<h1>Welcome to the Participation:myParticipations page</h1>
{% endblock %}
