{% extends "::base.html.twig" %}

{% block title %}TournamentBundle:Participation:participateIn{% endblock %}

{% block body %}
<h1>Welcome to the Participation:participateIn page</h1>
{% endblock %}
