<h3>Cześć {{ name }}!</h3>

Pozostała tylko jedna rzecz, abyś mógł zacząć korzystać z naszej platofrmy.<br>
Kliknij na poniższy link aby zweryfikować adres email.<br>

<a href="{{ absolute_url("email/verify/#{ token }") }}">Zweryfikuj teraz</a><br>

Jeśli nie rejestrowałeś się na naszej stonie, zignoruj tę wiadomość.<br>
W razie problemów, skontaktuj się z naszym działem pomocy.<br>


Pozdrawiamy,<br>
Turniejowo.pl Team