{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.jpg')) }}">

<h3>Cześć {{ name }}!</h3>

Dowiedzieliśmy się, że zapomniałeś hasła.<br>
Kliknij na poniższy link, aby je zresetować.<br>

<a href="{{ absolute_url("resetPassword/#{ token }") }}">Zresetuj hasło</a><br>

Jeśli nie zapomniałeś hasła, zignoruj tę wiadomość.<br>
W razie problemów, skontaktuj się z naszym działem pomocy.<br>


Pozdrawiamy,<br>
Turniejowo.pl Team