{% extends "::base.html.twig" %}

{% block title %}Zapomniałem hasła{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h3>Zapomniałem hasła</h3>
    Wpisz e-mail, który podałeś/aś podczas rejestracji na turniejowo.pl<br>
    Po kliknięciu w przycisk "Przypomnij" na Twoją skrzynkę e-mail zostanie wysłana wiadomość z linkiem resetującym obecne hasło.
    <br> <br>
    {{ form_widget(form) }}
    <input type="submit" class="w3-btn w3-ripple w3-green" value="Przypomnij" />
    {{ form_end(form) }}
{% endblock %}