{% extends "::base.html.twig" %}

{% block title %}turniejowo.pl {{ page_title }}{% endblock %}

{% block body %}
    <div class="error-page">
        <div class="exclamation-mark">!</div>
        <div class="error-message">{{ error_message }}</div>
    </div>
{% endblock %}