{% extends "::base.html.twig" %}

{% block title %}Rejestracja zakończyła się pomyślnie{% endblock %}

{% block body %}
    <h1>Rejestracja zakończyła się pomyślnie</h1>
    <h2>Wysłaliśmy link aktywujący na podany przez Ciebie w formularzu adres e-mail.</h2>
    <h3>Link aktywacyjny jest ważny przez 24 godziny.</h3>
{% endblock %}
