{% extends "::base.html.twig" %}

{% block title %}turniejowo.pl - Utwórz{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <h3>Utwórz turniej</h3>
    {{ form_widget(form) }}
    <input type="submit" class="w3-btn w3-ripple w3-green" value="Dodaj" />
    {#<a href="{{ path('show_tournament', { 'id': edit_form.id }) }}" class="w3-btn w3-ripple w3-amber">Wróć do wydarzenia</a>#}
    {{ form_end(form) }}

{% endblock %}
