{% extends "::base.html.twig" %}

{% block title %}turniejowo.pl - Edytuj{% endblock %}

{% block body %}

    {{ form_start(edit_form) }}
    <h3>Edytuj turniej</h3>
    {{ form_widget(edit_form) }}
    <input type="submit" class="w3-btn w3-ripple w3-green" value="Edytuj" />
    {#<a href="{{ path('show_tournament', { 'id': edit_form.id }) }}" class="w3-btn w3-ripple w3-amber">Wróć do wydarzenia</a>#}
    {{ form_end(edit_form) }}

{% endblock %}
